.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  margin-right: 76px;
}

.address-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.address {
  display: block;
  font-style: normal;
  margin-left: auto;
}

.list-b {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-one {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
  max-width: 1440px;
  height: 600px;
  padding: 188px 0;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-img.jpg);
  }
}

.section-but {
  margin-top: 48px;
}

.section-two{
  padding: 120px 0;
}

.values-icon-container {
  width: 264px;
  height: 112px;
  background: var(--light-background);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.values-icon {
  display: block;
}

.values-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.values-item {
  width: calc((100% - 72px) / 4);
}

.features-text {
  font-weight: 400;
}

.features-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section-work {
  display: block;
  background-color: var(--white-color);
  padding-bottom: 120px;
}

.section-img-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-work-picture {
  width: calc((100% - 48px) / 3);
}

.section-img{
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 72px;
}

.section-format-img {
  padding: 120px 0
}

.section-format-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-format-corect {
  width: 100%;
}

.section-picter{
  width: calc((100% - 72px) / 4);
}

.customers {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.footer-page {
  padding: 100px 0;
}

.footer-form-container {
  max-width: 453px;
  margin-left: 80px
}

.footer-social-container {
  margin-left: 120px;
}